<section>

	<h1>About</h1>

	<p>Hey there, my name is Alex Barkell, I'm a developer from Ann Arbor, Michigan and I'm currently looking for a job as a software developer.</p>
	
	<p>I've been passionate about computers and startups my entire life, starting my first business in the 4th grade selling bags of candy to classmates. More recently I was a Co-Founder in a small startup that traded digital items between users.</p>

	<p>I love solving problems and coming up with new ways to approach old issues. I'm also super passionate about creating quality software and constantly trying to improve my craft.
	</p>
	
	<p>

	If you have any questions or comments, please feel free to contact me at: alexbarkell@gmail.com	</p>

<A href="/modules/core/img/AlexBarkellsResume.pdf">My Résumé</a> 
</section>



 

