* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

body {
  background-image: url(../img/light_toast.png);
}

.content > .container {

  -mox-box-shadow:    0px 0px 5px 3px #ccc;
  -webkit-box-shadow: 0px 0px 5px 3px #ccc;
  box-shadow:         0px 0px 5px 3px #ccc;
  border-radius: 3px;
  padding: 1%;
  background-color: white;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.header {
	background-color: #333;
	
}
.header .row {
	padding: .5rem;
	margin-bottom: 0;

}
.header a {
	height: 100%;
	width: 100%;
	text-decoration: none;
	text-align: center;
}

a.fill-div {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.content {
	margin: 1em;
}

.btn-menu {
	padding-top:  .5rem;
	padding-bottom: .5rem;
	border-radius: 2px;
}
.btn-menu:hover {
	background-color: #d7d7d7;
}

.btn-menu {  
  -webkit-transition: background .1s linear;
  -moz-transition: background .1s linear;
  -ms-transition: background .1s linear;
  -o-transition: background .1s linear;
  transition: background .1s linear;
}

.click-nav {
  margin:10px auto;
  width:200px;
}
.click-nav ul {
  margin: 0;
  font-weight:900;
}
.click-nav ul li {
  margin-bottom: 0;
  position:relative;
  list-style:none;
  cursor:pointer;
}
.click-nav ul li ul {
  position:absolute;
  left:0;
  right:0;
}
.click-nav img {
  position:absolute;
  top:11px;
  left:12px;
}
.click-nav ul li a:hover {
  background-color: #f3f3f3;
}

.click-nav ul li a {
  display:block;

  text-decoration:none;
  background-color: #e3e3e3;
  border-radius: 4px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
  height: 38px;
  line-height: 38px;
  
  letter-spacing: .1rem;
  text-transform: uppercase;
}




.ng-modal-overlay{
  /* A dark translucent div that covers the whole screen */
  position:fixed;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}