
 
  <div ng-controller="GameMenuController as menu">

  
  <link rel="stylesheet" href="/modules/incrementalgame/style/invertedStyle.css" ng-disabled="menu.invertedState == 'default'">

  <link rel="stylesheet" href="/modules/incrementalgame/style/defaultStyle.css" ng-disabled="menu.invertedState == 'inverted'">

  <link rel="stylesheet" href="/modules/incrementalgame/style/main.css">
    <link rel="stylesheet" href="/modules/incrementalgame/style/demo.css">
 
<div class="row">
  <div class="six columns">
    &nbsp;
  </div>

    <!-- Clickable Nav -->
    <div class="click-nav three columns">
      <ul class="js">
        <li>
          <a  href="" class="clicker" ng-click="dropStat=!dropStat">Progress</a>
          <ul ng-show="dropStat">
            <li><a href=""><img src="modules/incrementalgame/img/star-2.png" alt="Icon">Stats</a></li>
            <li><a href=""><img src="modules/incrementalgame/img/star.png" alt="Icon">Achivements</a></li>
          </ul>
        </li>
      </ul>
    </div>



    <!-- Clickable Nav -->
    <div class="click-nav three columns" >
      <ul class="js">
        <li>
          <a  href="" class="clicker" ng-click="dropSetting=!dropSetting">Settings</a>
          <ul ng-show="dropSetting">
            <li><a href="" ng-click="menu.saveGame()"><img src="modules/incrementalgame/img/save.png" alt="Icon">Save Game</a></li>
            <li><a href="" ng-click="menu.loadGame()"><img src="modules/incrementalgame/img/load.png" alt="Icon">Load Game</a></li>
            <li><a href="" ng-click="menu.invertColors()"><img src="modules/incrementalgame/img/brightness.png" alt="Icon">Invert Colors</a></li>
            <li><a href="" ng-click="menu.resetGame()"><img src="modules/incrementalgame/img/spam.png" alt="Icon">Reset Game?</a></li>
          </ul>
        </li>
      </ul>
    </div>

</div>
</div>



<section>



<div>



      <h1>Widgets: <span id="widget-count">{{click.userInfo.currentMoney | number: 0}}</span></h1>
<div class="row">
  <div class="four columns">
      <button id="produce-widget" type="button" class="btn btn-primary u-full-width" ng-click="click.produceWidget()">Produce Widget</button>
  </div>
</div>

      <h2>Store:</h2>

    </div>


</div>



  <div ng-repeat="level in click.level">

  
    <div class="row">
  
      <div class="four columns">
        <button type="button" class="btn btn-primary u-full-width" 
                  ng-click="click.buyWorker(click.level.indexOf(level))"
                   ng-disabled="click.getWorkerCost(click.level.indexOf(level)) > click.userInfo.currentMoney">{{level.worker.name}} - {{level.worker.price}}</button>
      </div>
      
      <div class="four columns">
        <button type="button" class="btn btn-primary u-full-width"
                  ng-click="click.buyUpgrade(click.level.indexOf(level))"
                   ng-disabled="click.getUpgradeCost(click.level.indexOf(level)) > click.userInfo.currentMoney" >{{level.upgrade[click.getUpgradeLevel(click.level.indexOf(level))].name}} - {{level.upgrade[click.getUpgradeLevel(click.level.indexOf(level))].price}}</button>
      </div>
      
      <div class="four columns">
        <button type="button" class="btn btn-primary u-full-width" >specialUpgrade</button>
      </div>
    </div>
  

  </div>




	
</section>