
/*Dropdowns
TODO: clean and move these into their proper folder; */
.click-nav {
	margin:10px auto;

	width:200px;
}
.click-nav ul {
	margin: 0;
	font-weight:900;
}
.click-nav ul li {
	margin-bottom: 0;
	position:relative;
	list-style:none;
	cursor:pointer;
}
.click-nav ul li ul {
	position:absolute;
	left:0;
	right:0;
}

.click-nav img {
	position:absolute;
	top:11px;
	left:12px;
}
.click-nav ul li a {
	
	display:block;
	padding:8px 10px 8px 40px;

	text-decoration:none;
	
	background-color: #e3e3e3;
	border-radius: 4px;
	color: #555;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
	height: 38px;
	line-height: 38px;
	padding: 0 30px;
	letter-spacing: .1rem;
	text-transform: uppercase; 

}
.click-nav ul li a:hover {
	background:#F2F2F2;
}
