
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.btn-primary{
  background-image: none;
}

.btn{
  white-space:nowrap;
  color : #F90;
  background-color : #333;

  border:0px solid transparent;
}

.btn:focus {
  outline: none !important;
  white-space:nowrap;
  color : #F90;
  
  border:0px solid transparent;
  background-color : #333;
}
.btn:hover{
  cursor : pointer;
  color : #FFF;
  border:0px solid transparent;
  background-color : #F90;
  outline: none;
}

.btn:active{
  color : #CCC;
  border:0px solid transparent;
  background-color : #995b00;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  color : #666;

  background-color : #333 !important;
  opacity: 1;
}

.col-xs-12{
  height:100px;
  text-align: left;
}


.invertedColorScheme {
    background-color: gray !important;
    color:black;
}
 
.defaultColorScheme {
    background-color: blue !important;
    color:black;
}

